<!DOCTYPE html>
<html>
  <head>
    <% if (typeof title == 'undefined') { %>
      <% title = record.title; %>
    <% } %>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/forms.css' />
    <link rel='stylesheet' href='/stylesheets/tasks.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="/javascripts/flatpickr.js"></script>
    <script src="/javascripts/tasks.js"></script>
    <script src="/javascripts/main.js"></script>
  </head>
  <body>
