<tr class="task">
  <td class="task-name">
    <%= task.name %>
  </td>
  <td class="task-description">
    <%= task.description %>
  </td>
  <td class="task-status">
    <%= task.status %>
  </td>
</tr>
