<div class="task">
  <p class="task-name">
    <%= task.name %>
  </p>
  <p class="task-description">
    <%= todolist.description %>
  </p>
  <p class="task-status">
    <%= todolist.status %>
  </p>
</div>
