<div class="todolist">
  <span class="todolist-name">
    <a href="/tasks/todolist/<%= todolist.id %>">
      <%= todolist.name %>
    </a>
  </span>
  <input type="text" class="todolist-end-time" value="<%= todolist.end_time %>" readonly/>
</div>
