<div class="todolist">
  <span class="todolist-name">
    <a href="/tasks/todolist/<%= todolists[index].id %>">
      <%= todolists[index].name %>
    </a>
  </span>
  <input type="text" class="todolist-end-time" value="<%= todolists[index].end_time %>" readonly/>
</div>
