<form action="/tasks/todolist" method="post">
  <input required placeholder="Name" name="name" type="text" />
  <input placeholder="Date" name="end_time" type="datetime-local" />
  <input type="submit" id="create_todolist" value="Cerate todolist">
</form>
