<form action="/tasks/todolist" method="post">
  <input required placeholder="Name" name="name" type="text" />
  <input placeholder="Date" name="end_time" type="text" id="end_time_input" />
  <input type="submit" id="create_todolist" value="Create todolist">
</form>
