<button class="show-modal" id="show_modal">
  Add new todolist
</button>

<div id="create_modal" class="form-modal">
  <div class="modal-content">
    <form action="/tasks/todolist" method="post" name="task" class="create-todolist" id="create_todolist">
      <span class="modal-close">&times;</span>
      <h1>
        Create new todolist!
      </h1>
      <input required placeholder="Name" name="name" type="text" />
      <input required placeholder="Date" name="end_time" type="text" id="end_time_input" class="end_time_input" />
      <input type="submit" id="create_todolist" value="Create todolist">
    </form>
  </div>
</div>

<div id="edit_modal" class="form-modal">
  <div class="modal-content">
    <form class="edit-todolist" id="edit_todolist">
      <span class="modal-close">&times;</span>
      <h1>
        Editting of the todolist
      </h1>
      <input required placeholder="Name" name="name" type="text" />
      <input required placeholder="Date" name="end_time" type="text" class="end_time_input" />
      <input type="submit" id="edit_todolist" value="Update todolist">
    </form>
  </div>
</div>
