<% include ../partials/header.ejs %>
<% include ../partials/navigation.ejs %>
  <div class="todolist">
    <span class="todolist-name">
      <%= todolist.name %>
    </span>
    <input class="todolist-end-time" type="text" value="<%= todolist.end_time %>"/>
    <div class="tasks">
      <% for(let task of tasks) { %>
        <%- include ./_task.ejs %>
      <% } %>
    </div>
</div>
<% include ./create_task_form.ejs %>
<% include ../partials/footer.ejs %>
