<% include ../partials/header.ejs %>
<% include ../partials/navigation.ejs %>
<table class="todolists">
  <thead>
    <tr>
      <th> Name </th>
      <th> End time </th>
      <th> Actions </th>
    </tr>
  </thead>
  <tbody>
  <% for(let todolist of todolists) { %>
    <%- include ./_todolist.ejs %>
  <% } %>
  </tbody>
</table>
<% include ./todolist_forms.ejs %>
<% include ../partials/footer.ejs %>
