<!DOCTYPE html>
<html>
  <head>
    <title>
      Application error.
    </title>
  </head>
  <body>
    <p>Error message: <%= message %> </p>
    <p>Error status: <%= error.status %> </p>
    <p>Error stack: <%= error.stack %> </p>
  </body>
</html>