.nav-bar {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  margin-bottom: 15px;
  background-color: grey;
}

.nav-bar img {
  height: 75%;
  margin: 0 auto;
}

.nav-bar a {
  margin: 0 10px;
  text-decoration: none;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}