.todolists {
  width: 50%;
  margin: 25px auto;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}

.todolists td,
.todolists th {
  padding: 8px;
}

.todolists th {
  font-weight: 400;
  font-size: 20px;
}

.todolists tbody {
  font-size: 20px;
  font-weight: 300;
}

.todolists tbody a {
  color: black;
  text-decoration: none;
}

.tasks tbody tr,
.todolists tbody tr {
  transition: background-color 0.5s;
}

.tasks tbody tr:nth-child(odd),
.todolists tbody tr:nth-child(odd) {
  background-color: #e0e0e0;
}

.tasks tbody tr:hover,
.todolists tbody tr:hover {
  background-color: #ececec;
}

.todolist-single {
  margin: 10px 0;
}

.todolist-single {
  font-size: 20px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.todolist-single .todolist-name {
  font-size: 22px;
  font-weight: 300;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  word-wrap: break-word;
  word-break: break-all;
}

.todolist-end-time {
  border: none;
  cursor: default !important;
  background-color: transparent;
  font-weight: 300;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.todolist .todolist-end-time {
  font-size: 20px;
}

.todolist-single .todolist-end-time {
  font-size: 22px;
}

.todolist-sinlge-description {
  width: 50%;
  margin: 10px auto;
  text-align: left;
}

.tasks {
  font-size: 20px;
  border-collapse: collapse;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  padding: 8px;
  margin: 15px auto;
}

.tasks td,
.tasks th {
  padding: 8px;
  display: table-cell;
  border-bottom: 1px solid #ddd;
}

.tasks th {
  font-weight: 400;
}

.tasks td {
  font-weight: 300;
}

.tasks tbody a {
  color: inherit;
  text-decoration: none;
}
