<% include ../partials/header.ejs %>
<% include ../partials/navigation.ejs %>
    <div class="main-page">
      <h1>Welcome to the "Let's do this"</h1>
      <p>"Let's do this" is a platform which helps you tracking tasks.</p>
      <p>
        Just create your list of tasks and set date when these tasks should be completed.
        Our system will send you notifications about these task at the time you choose.
      </p>
      <p>
        Let's <a href="/">start</a>!
      <p>
    </div>
<% include ../partials/footer.ejs %>